.repo-card {
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 335px;
        .card-block{
            border-bottom: 0px;
            flex: 1;
            .card-text{
                flex: 1;
                .card-text__more-info{
                    bottom: 3.0rem;
                    position: absolute;
                    .update-date{
                        margin-left: 0.1rem;
                    }
                }
                .language{
                    margin-top: 1rem;
                    align-self: start;
                }
                .status{
                    margin-top: 1rem;
                    display:flex;
                    flex-direction: row;
                    span{
                        margin-right: 0.6rem;
                        vertical-align: top;
                    }    
                    .fork-icon{
                        transform: rotate(270deg);
                    }
                }
            }
        }
        .card-footer{
            border-top: 1px solid #ededed;
        }
    }
}

@media(max-width:576px) {
    .card {
        height: 280px !important;
        .card-block{           
            .card-text{                
                .card-text__description{
                    -webkit-line-clamp: 2 !important;
                }
            }
        }
        
    }
}
