<ngx-content-loading [speed]="'1500ms'" [width]="228" [height]="335" [primaryColor]="'rgba(221, 221, 221, 1)'"
    [secondaryColor]="'rgba(227, 236, 238, 1)'">
    <svg:g ngx-rect x="0" y="1" rx="4" ry="4" width="117" height="6" />
    <svg:g ngx-rect x="0" y="42" rx="3" ry="3" width="228" height="6" />
    <svg:g ngx-rect x="0" y="62" rx="3" ry="3" width="200" height="6" />
    <svg:g ngx-rect x="0" y="99" rx="3" ry="3" width="98" height="27" />
    <svg:g ngx-rect x="1" y="159" rx="4" ry="4" width="20" height="11" />
    <svg:g ngx-rect x="44" y="159" rx="4" ry="4" width="20" height="11" />
    <svg:g ngx-rect x="90" y="159" rx="4" ry="4" width="20" height="11" />
    <svg:g ngx-rect x="0" y="210" rx="4" ry="4" width="117" height="12" />
    <svg:g ngx-rect x="0" y="192" rx="3" ry="3" width="343" height="1" />
</ngx-content-loading>