.repo-landscape-card {
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 170px;
        .card-block{
            border-bottom: 0px;
            .card-title{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                span{
                    margin-top: 0.4em;
                }
                .status{
                    font-size: 0.583333rem;
                    color: #575757;
                    padding-top: 0.1rem;
                    position: absolute;
                    right: 0.5rem;
                    .update-date{
                        margin-right: 0.6rem;
                    }
                    span{
                        margin-right: 0.6rem;
                    }    
                    .fork-icon{
                        transform: rotate(270deg);
                    }
                }
            }
            
        }
        .card-footer{
            border-top: 1px solid #ededed;
        }
    }
}