<article class="repo-landscape-card">
    <div class="card">
        <div class="card-block">
            <div class="card-title truncate-1" i18n>
                {{data?.name}}
                <div class="status">
                    <span class="update-date p7">Updated {{data?.updated_at | dateAgo}}</span>
                    <span class="label" *ngIf="data?.language" i18n>{{data?.language}}</span>
                    <span *ngIf="data?.stargazers_count" data-tooltip="Stargazers " class="tooltip-bottom" i18n>
                        <clr-icon shape="star" class="is-solid"></clr-icon>
                        {{data?.stargazers_count}}
                    </span>
                    <span *ngIf="data?.forks" data-tooltip="Forks " class="tooltip-bottom" i18n>
                        <clr-icon shape="share" class="fork-icon"></clr-icon>
                        {{data?.forks}}
                    </span>
                    <span *ngIf="data?.watchers_count" data-tooltip="Watchers " class="tooltip-bottom" i18n>
                        <clr-icon shape="eye" class="is-solid"></clr-icon>
                        {{data?.watchers_count}}
                    </span>
                </div>
            </div>
            <div class="card-text" *ngIf="data?.description" i18n>
                <p class="p1 truncate-1">{{data?.description}}</p>
            </div>
        </div>
        <div class="card-footer">
            <a [href]="data?.url" target="_blank" class="btn btn-link" i18n>KNOW MORE
                <clr-icon shape="help-info"></clr-icon>
            </a>
        </div>
    </div>
</article>