<main class="list-container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="200"
    [infiniteScrollUpDistance]="1.5" [infiniteScrollDisabled]="infiniteScrollDisabled" (scrolled)="onScrollDown()"
    [fromRoot]="true" [scrollWindow]="true">
    <div class="list-header">
        <h3 i18n>GitHub Projects</h3>
        <p class="p1" i18n>List of all Open Source Projects</p>
    </div>
    <div class="list-content">
        <aside class="list-content__filters clr-hidden-sm-down" [ngClass]=" isSticky ? 'sticky-container': ''">
            <ng-container *ngTemplateOutlet="filtersTemplate;context:{counter: 1}"></ng-container>
        </aside>
        <section class="list-content__results">
            <div class="list-content__results__summary">
                <h4 i18n>Showing {{filteredRepos.length}} of {{page.total | shortNumber}} Projects</h4>
                <app-search-bar class="list-content__results__search-bar" (onSearchChange)="handleSearch($event)">
                </app-search-bar>
                <button class="list-content__results__filter-button btn btn-link clr-hidden-md-up"
                    (click)="toggleFiltersPanel($event)">Sort<clr-icon class="filter-button__icon"
                        [ngClass]=" showFiltersPanel ? '' : 'collapsed'" shape="angle"></clr-icon></button>
                <div class="btn-group clr-hidden-sm-down">
                    <div class="radio btn btn-icon">
                        <input type="radio" name="btn-group-view-type" id="btn-card" value="card"
                            [checked]="defaultView == 'card'" (click)="changeView($event)">
                        <label for="btn-card">
                            <clr-icon shape="grid-view"></clr-icon>
                        </label>
                    </div>
                    <div class="radio btn btn-icon">
                        <input type="radio" name="btn-group-view-type" id="btn-list" value="list"
                            [checked]="defaultView == 'list'" (click)="changeView($event)">
                        <label for="btn-list">
                            <clr-icon shape="view-list"></clr-icon>
                        </label>
                    </div>
                </div>
            </div>
            <div class="list-content__results__collapsible_filters clr-hidden-md-up"
                [ngClass]="showFiltersPanel ? 'open' : ''">
                <ng-container *ngTemplateOutlet="filtersTemplate;context:{counter: 2}"></ng-container>
            </div>
            <div class="separator"></div>
            <div class="data-list">
                <div class="clr-row data-list__loader" *ngIf="isSkeltonLoading">
                    <div [ngClass]="defaultView == 'card' ? 'clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-sx-12 clr-col-12' : 'clr-col-12'"
                        *ngFor="let item of [1,2,3,4,5,6,7,8]">
                        <app-repo-card-skeleton *ngIf="defaultView == 'card'"></app-repo-card-skeleton>
                        <app-repo-landscape-card-skeleton *ngIf="defaultView == 'list'">
                        </app-repo-landscape-card-skeleton>
                    </div>
                </div>
                <div class="clr-row data-list__items">
                    <div [ngClass]="defaultView == 'card' ? 'clr-col-xl-3 clr-col-lg-4 clr-col-md-6 clr-col-sm-6 clr-col-sx-12 clr-col-12' : 'clr-col-12'"
                        *ngFor="let repo of filteredRepos">
                        <app-repo-card *ngIf="defaultView == 'card'" [data]="repo"></app-repo-card>
                        <app-repo-landscape-card *ngIf="defaultView == 'list'" [data]="repo">
                        </app-repo-landscape-card>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

<!--Passing counter to keep track of form instance. This won't create any performance issue as
one of the form is always hidden and not rendered based on responsiveness behavior of the app-->
<ng-template #filtersTemplate let-instanceCounter="counter">
    <app-filter (onSortByChange)="applySortBy($event)" [instanceCounter]="instanceCounter"></app-filter>
</ng-template>